

.information {
    text-align: center;
    font-size: larger;
}

nav {
    margin: 10px;
    display: flex;
    justify-content: center;
}

nav a {
    padding: 5px;
    margin:0 15px;
    color: darkcyan;
}
nav a:hover{
    color: darkorange;
}

.active{
    background-color:black;
    color: white;
}

.fatherbutton{
    text-align: center;
}